@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "base";
@import "head";
@import "main";
@import "close";

.tick-circle {
  height: 45px;
  width: 45px;
  background-color: $secondary;
  border-radius: 50%;
  margin: 0 0 15px 35px;
  position: relative;

  .inner-circle {
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 5px;
    left: 5px;

    .fa-check {
      color: $secondary;
      font-size: 20px;
      margin: 8px;
    }
  }
}

#helloWorld {
  width: 100%;
  height: 100px;
  background-color: $primary;
}
