@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.head-container {
  margin: 50px 0 0 50px;
  background-color: #17b890;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  border-radius: 5px 5px 0 0;
}

.head-container .head-content {
  padding: 20px 0 20px 20px;
}

.head-container .head-img {
  padding: 20px 20px 20px 0;
}

.head-container h1 {
  font-size: 16px;
  margin: 0;
}

.head-container img {
  height: 48px;
  width: 48x;
}

.main-container {
  width: 300px;
  margin-left: 50px;
  background-color: #004d75;
  color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.main-container .progress-percent {
  padding: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .progress-percent .progress-bar {
  width: 75%;
  height: 5px;
  margin: 8px 0 0 15px;
  background-color: #004466;
  border-radius: 5px;
}

.main-container .progress-percent .progress-bar .progress-position {
  width: 33%;
  height: 5px;
  background-color: #17b890;
  border-radius: 5px;
}

.main-container .progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .progress-container li {
  list-style-type: none;
}

.main-container .progress-container .circles {
  height: 45px;
  width: 45px;
  background-color: #004466;
  border-radius: 50%;
  margin: 0 0 15px 35px;
  cursor: pointer;
}

.main-container .progress-container .strike-words {
  font-size: 14px;
  margin: 10px 0 42px 30px;
}

.close-btn {
  width: 300px;
  margin: 20px 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close-btn .close {
  height: 70px;
  width: 70px;
  background-color: #004466;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn .close .cross {
  position: relative;
  height: 35px;
  /* cross length */
  width: 35px;
  /* cross length */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-btn .close .cross::before,
.close-btn .close .cross::after {
  position: absolute;
  content: "";
  top: 34px;
  left: 17px;
  width: 100%;
  height: 3px;
  /* cross thickness */
  background-color: #ffffff;
}

.close-btn .close .cross::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-btn .close .cross::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-btn .number-indicator-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff5621;
  position: absolute;
}

.close-btn .number-indicator-btn .number-indicator {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  padding: 3px 0 0 7px;
}

.tick-circle {
  height: 45px;
  width: 45px;
  background-color: #17b890;
  border-radius: 50%;
  margin: 0 0 15px 35px;
  position: relative;
}

.tick-circle .inner-circle {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.tick-circle .inner-circle .fa-check {
  color: #17b890;
  font-size: 20px;
  margin: 8px;
}

#helloWorld {
  width: 100%;
  height: 100px;
  background-color: #004d75;
}
/*# sourceMappingURL=style.css.map */