@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$main-font: "Open Sans", sans-serif;

$width: 300px;

$h1-font: 16px;
$li-font: 14px;
$percent-number: 12px;
$notification: 10px;

$reg: 400;

$font-color: #ffffff;
$primary: #004d75;
$secondary: #17b890;
$btn-background: #004466;
$notification-color: #ff5621;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

.head-container {
  margin: 50px 0 0 50px;
  background-color: $secondary;
  color: $font-color;
  display: flex;
  width: $width;
  border-radius: 5px 5px 0 0;

  .head-content {
    padding: 20px 0 20px 20px;
  }

  .head-img {
    padding: 20px 20px 20px 0;
  }

  h1 {
    font-size: $h1-font;
    margin: 0;
  }

  img {
    height: 48px;
    width: 48x;
  }
}

.main-container {
  width: $width;
  margin-left: 50px;
  background-color: $primary;
  color: $font-color;
  border-radius: 0 0 5px 5px;

  .progress-percent {
    padding: 35px;
    font-size: $percent-number;
    display: flex;

    .progress-bar {
      width: 75%;
      height: 5px;
      margin: 8px 0 0 15px;
      background-color: $btn-background;
      border-radius: 5px;

      .progress-position {
        width: 33%;
        height: 5px;
        background-color: $secondary;
        border-radius: 5px;
      }
    }
  }

  .progress-container {
    display: flex;

    li {
      list-style-type: none;
    }

    .circles {
      height: 45px;
      width: 45px;
      background-color: $btn-background;
      border-radius: 50%;
      margin: 0 0 15px 35px;
      cursor: pointer;
    }

    .strike-words {
      font-size: $li-font;
      margin: 10px 0 42px 30px;

      &:hover {
        border: 1.5px solid #4092be;
      }
    }
  }
}

.tick {
  height: 45px;
  width: 45px;
  background-color: $btn-background;
  border-radius: 50%;
  margin: 0 0 15px 35px;
}

.close-btn {
  width: $width;
  margin: 20px 0 0 50px;
  display: flex;
  justify-content: flex-end;

  .close {
    height: 70px;
    width: 70px;
    background-color: $btn-background;
    border-radius: 50%;
    cursor: pointer;

    .cross {
      position: relative;
      height: 35px; /* cross length */
      width: 35px; /* cross length */
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .cross::before,
    .cross::after {
      position: absolute;
      content: "";
      top: 34px;
      left: 17px;
      width: 100%;
      height: 3px; /* cross thickness */
      background-color: $font-color;
    }

    .cross::before {
      transform: rotate(45deg);
    }

    .cross::after {
      transform: rotate(-45deg);
    }
  }

  .number-indicator-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $notification-color;
    position: absolute;

    .number-indicator {
      font-size: $notification;
      font-weight: bold;
      color: $font-color;
      padding: 3px 0 0 7px;
    }
  }
}
